// existing styles


.top-panel{
  background: red;
  padding-bottom: 0px !important;
  border-radius: 0px;
  .btnsmap{
    cursor: pointer;
    padding: 14px 15px;
    background: rgb(255, 255, 255);
    color: rgb(23, 23, 37);
    &:hover{
      padding: 14px 15px;
      background: #e6e9f0;
   color: #8d9eb1;
    }
  }
}
.req-banner{
  // margin-bottom: 20px;

}
.rs-panel-body {
  // padding: 0px;
}
.pabel{
  padding: 0px !important;
  background-color: #f4f6fc;
}
.filter-bars{
background-color: #191919;
padding-bottom: -10px;
margin-bottom: -50px;
.oo{
  margin-top: 0px;
  
  
}
}
.filter-bar{
margin-top: 100px;
  
    // // padding-left: 100px;

    // background-color: #8d9eb1;

  
}

.top-header{
  border-radius: 0.313rem;
  box-shadow: rgba(4, 36, 106, 0.3) 0px 2px 4px 0px;
  background-color: rgb(255, 255, 255);
  padding: 1.25rem;
  border: 1px solid rgb(230, 233, 240);
  
}

.bottom-section {
    background-color: #fff;
    padding: 20px;
  
    .bottom-title {
      span {
        font-size: 16px;
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
        color: #191919;
      }
    }
  
    .testtt {
      display: flex;
      align-items: start;
    }
  
    .secondCalculation {
      margin-top: 10px;
    }
  }
  
  .reference-section {
    background: #fff;
    padding: 20px;
  }
  
  // updated styles
  .bottomlast {
    margin-top: 20px;
   
  
    .mainParent {
      .comment {
        .comment-div {
          background: #fff;
       
          padding: 20px;
        
        }
      }
    }
  }
  